html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #333333;
	font-family: 'Varela', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #656565;
}


.wrapper {
	background: #FFF;
}

.header-bar {
	background: #333333;
}

.header-content {
	overflow: hidden;
	margin: 0em auto;
	width: 1000px;
	position: relative;
	padding: 3em 0em;
}

.header-name {
	position: absolute;
	top: 0em;
	left: 0;
}

.header-name h1 {
	color: #FFF;
}

.header-name a {
	text-decoration: none;
	color: #FFF;
}

.navigation-menu {
	position: absolute;
	top: 2em;
	right: 0;
}

.navigation-menu item {
	display: block;
	float: left;
	text-align: center;
}

.navigation-menu item a {
	padding: 1em 1.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #FFF;
}

.navigation-menu item current a {
	background: #009E2D;
	color: #FFF;
}


.content {
	overflow: hidden;
	padding: 2em 10em 2em 10em;
}

.content .title {
	padding: 0em;
}

.content .text {
	padding: 0em;
	text-align: left;
	font-size: 1.2em;
}
.content .box {
	padding: 2em 2em 2em 2em;
	margin: 1em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
	text-align: center;
}

.content .fa {
	display: block;
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 3em;
}

.copyright
{
	overflow: hidden;
	padding: 5em 0em;
	border-top: 1px solid rgba(255,255,255,0.08);
}

.copyright p
{
	text-align: center;
	font-size: 1em;
	color: rgba(255,255,255,0.5);
}

.copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}



