html, body {
	height: 100%;
}

html {
	overflow-y: scroll;
}

body {
	margin: 0px;
	background: #333333;
	font-family: 'Varela', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #656565;
}

.wrapper {
	max-width: 1100px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	position: center;
	margin-left: auto;
	margin-right: auto;
}

.header-bar {
	position: center;
	background: #333333;
}

.header-content {
	overflow: hidden;
	margin: 0em;
	position: relative;
	padding: 3em 0em;
}

.header-name {
	position: absolute;
	top: 1em;
}

.header-name {
	color: #FFF;
}

.header-name a {
	text-decoration: none;
	font-size: 30pt;
	font-weight: bold;
	color: #FFF;
	vertical-align: middle;
}

.navigation-menu {
	position: absolute;
	top: 2em;
	right: 0;
}

.navigation-menu item {
	display: block;
	float: left;
	text-align: center;
}

.navigation-menu item a {
	padding: 1em 1.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #FFF;
}

.navigation-menu item current a {
	background: #009E2D;
	color: #FFF;
}

.content {
	overflow: hidden;
	padding: 2em 4em 4em 4em;
	background: #FFF;
}

.content .title {
	text-align: left;
}

.content .subtitle {
	font-size: 1.5em;
	margin: 0em 0em 0.5em 0em;
	text-align: left;
}

.content .text {
	padding: 0em;
	text-align: left;
	font-size: 1.2em;
}

.content .box {
	padding-top: 1.5em;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	margin: 0em 0em 1em 0em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
}

.content .fa {
	display: block;
	margin-bottom: 0.5em;
	text-align: center;
	font-size: 3em;
}

.copyright {
	overflow: hidden;
	padding: 3em 0em;
}

.copyright p {
	text-align: center;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.5);
}

.copyright a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}